html {
  scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: arial, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

header {
    dispaly:flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #DDC0B4;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

.logo::before {
  content: "<";
  padding: 2px;
  font-size: 20px;
}

.logo::after {
  content: ">";
  padding: 2px;
  font-size: 20px;
}

span {
  color:  #612D08;
}

nav a {
  color: #000000;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #555;
}

.intro {
  background-color: #F7D2BC
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  
  
}

.img-box {
  width: 100%;
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-left: 20px;
}

.title {
  font-size: 70px;
  margin-bottom: 10px;
}

.btn {
  color: #612D08;
  border: 2px solid;
  border-radius: 6px;
  padding: 5px 10px;
  transition: all 0.3s ease;
}

.btn:hover {
  color: #FFF;
  background-color: #612D08;
}

#About_Me {
  background-color: #BD8270;
}

#About_Me .container {
  flex-direction: column;
}


.subtitle {
  color: #000;
  font-size: 4rem;
  margin-bottom: 10px;
  font-weight: 300;
  letter-spacing: 0.2rem;
  text-align: center;
}



.about-box {
  background-color: #7D5F5F;
  padding: 40px;
  border-radius: 20px;
  margin-bottom: 40px;
}

.about-box p {
  color: #FFF;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  text-align: center;
}

#Skills {
  background-color: #AA6F5D;
}

#Skills .container {
  display: flex;
  flex-direction: column;
}

.skill-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 100%;
  align-items: center;
}

.skills-2  {
  text-align: center;
}

.skills-2 li {
  background-color: #DDD;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 15px;
}

#Portfolio {
  background-color: #784A10;
  color: #FFF;
}

#Portfolio .container {
  display: flex;
  flex-direction: column;
}

#Portfolio h1 {
  color: #FFF;
}

.contact-box {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}

.cards {
  background-color: #7D5F5F;
  color: #FFF;
  padding: 10px 40px;
  min-width: 200px;
  max-width: 500px;
  border-radius: 20px;
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  width: 50px;
  padding: 0px 40px;
}

footer .container {
  flex-direction: column;
}

hr {
  width: 100%;
  height: 2px;
}
