html {
  scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: arial, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

p {
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

.container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

header {
    dispaly:flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #e1bdc4;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

.logo::before {
  content: "<";
  padding: 2px;
  font-size: 20px;
}

.logo::after {
  content: ">";
  padding: 2px;
  font-size: 20px;
}

.logo a {
  color: #000;
}

span {
  color:  #612D08;
}

nav a {
  color: #000000;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #555;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: -0.5rem;
  right: 1rem;
  padding: 4px;
  border: none;
  background: #e1bdc4;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #e1bdc4;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}

.intro {
  background-color: #DCB0B4;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  
  
}

.img-box {
  width: 100%;
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-left: 20px;
}

.title {
  font-size: 70px;
  margin-bottom: 10px;
}

.btn {
  color: #612D08;
  border: 2px solid;
  border-radius: 6px;
  padding: 5px 10px;
  transition: all 0.3s ease;
}

.btn:hover {
  color: #FFF;
  background-color: #612D08;
}

#About_Me {
  background-color: #d8a7a7;
}

#About_Me .container {
  flex-direction: column;
}


.subtitle {
  color: #000;
  font-size: 4rem;
  margin-bottom: 10px;
  font-weight: 300;
  letter-spacing: 0.2rem;
  text-align: center;
}



.about-box {
  background-color: #7D5F5F;
  padding: 40px;
  border-radius: 20px;
  margin-bottom: 40px;
  opacity: 0.5
}

.about-box p {
  color: #FFF;
  text-align: center;
}

#Skills {
  background-color: #C59697;
}

#Skills .container {
  display: flex;
  flex-direction: column;
}

.skill-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 100%;
  align-items: center;
}

.skills-2  {
  text-align: center;
}

.skills-2 li {
  background-color: #DCB0B4;
  border: 3px solid #7D5F5F;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 15px;
}

#Portfolio {
  background-color: #B5918C;
  color: #FFF;
}

#Portfolio .container {
  display: flex;
  flex-direction: column;
}

#Portfolio h1 {
  color: #FFF;
}

.contact-box {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}

.cards {
  background-color: #7D5F5F;
  color: #FFF;
  padding: 10px 40px;
  min-width: 200px;
  max-width: 500px;
  border-radius: 20px;
  text-align: center;
}

#Contacts {
  background-color: #9E7C73
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  border-radius: 20%;
  width: 50px;
  padding: 0px 10px;
}

footer img:hover {
  background-color: #7D5F5F;
}

footer .container {
  flex-direction: column;
}

hr {
  width: 100%;
  border: 1px solid black;
}

#Footer {
  background-color: #A07368;
}

@media (max-width:450px) {
  
  .logo {
    font-size: 25px;
  }
  
  .logo::before {
    fornt-size: 80px;
    font-weight: bold;
  }
  
  .logo::after{
    fornt-size: 80px;
    font-weight: bold;
  }
  
  header {
    display: grid;
    height: 100px;
    justify-content: unset;
    width: 100%;
    
  }
  
  header li {
    display: inline-block;
    margin-left: 0px;
  }
  
  header li a {
    font-size: 20px;
  }
  
  header .container {
    display: grid;
  }
  
  .intro .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    text-align: left;
  }
  
  
  .container {
    text-align: center;
  }
  
  .intro .img-box{
    padding-top: 100px;
  }
  
  .intro-content {
    display: block;
    width: inherit;
    align-self: start;
  }
  
  .title {
    font-size: 8rem;
    top: 50px;
  }
  
  .subtitle {
    margin-bottom: 100px;
  }
  
  .skills-1 {
    display: none;
  }
  
  .skills-2 {
    width: 350px;
  }
  
  .skills-2 ul {
    padding: 0px;
  }
  
  .skills-2 ul li {
    border-radius: 35px;
    margin-bottom: 30px;
    padding: 15px 35px;
  }
  
  .contacts div {
    width: inherit;
  }
  
  .contact-box {
    display: block;
  }
  
  .cards {
    margin: 0px auto 100px auto;
  }
  
}
